<!DOCTYPE html>
<html>
<head>
  <title>BerkowitzCapstone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%= ENV['CLOUD_NAME'] %>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>
</head>
<body class="static-background">

<!-- below will become obsolete after navbar implementation: -->
<!-- <% if signed_in? %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %> -->

  <% if current_user %>
    <script>
      window.CURRENT_USER_ID = <%= current_user.id %>
    </script>
  <% end %>

<br>

<%= render "layouts/errors" %>

<%= yield %>
<%= javascript_include_tag 'application' %>

</body>
</html>
