<!DOCTYPE html>
<html>
<head>
  <title>RoundTable</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Merriweather&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%= ENV['CLOUD_NAME'] %>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>
</head>
<body class="universal-background-color">

  <% if current_user %>
    <script>
      window.CURRENT_USER_ID = <%= current_user.id %>
    </script>
  <% end %>

<br>

<%= render "layouts/errors" %>

<%= yield %>
<%= javascript_include_tag 'application' %>

</body>
</html>
